{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row mt-3">
    <div class="col-md-6 bg-opacity col-lg-4">
            <h1 class="mt-2 display-4 logo-font text-black">
                Browse the latest Prints
            </h1>
            <h4 class="my-5">
                <a href="{% url 'products' %}" class="shop-now-button btn btn-outline-dark btn-lg px-5 rounded-0 text-uppercase py-3">Shop Now</a>
            </h4>
    </div>
    <div class="col-md-6 col-lg-4 bg-opacity offset-md-6 offset-lg-4">
            <h1 class="mt-2 display-4 logo-font text-black">
                Become a photographer today &amp;
                sell your prints!
            </h1>
            <h4 class="my-5">
                <a href="{% url 'add_photographer' %}" class="shop-now-button btn btn-outline-dark btn-lg px-5 rounded-0 text-uppercase py-3">Register Now</a>
            </h4>
    </div>
    <div class="col-md-6 col-lg-6 bg-opacity mt-auto align-self-bottom">
        <h1 class="mt-2 display-4 logo-font text-black">
            Subscribe to Our Newsletter
        </h1>
        <p class="logo-font text-black">Stay updated with the latest wildlife photography and news!</p>
        <form method="post">
            {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        
        <button type="submit" class="btn btn-outline-dark">Subscribe</button>
        </form>
    </div>
</div>
{% endblock %}