{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col text-center mt-3">
          <h2>Photographs</h2>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-col-xl-4 g-4">
      {% for product in products %}
        <div class="col">
          <div class="card h-100">
            <img src="{{product.image.url}}" class="card-img-top" alt="{{ product.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text"> from £{{ product.price }}</p>
              <hr>
              <p class="card-text">{{ product.description }}</p>
              
              <!-- <p class="card-text"><h4>Photographer:</h4>{{ product.photographer }}</p> -->
            </div>
            <div class="card-footer">
              <a href="{% url 'product_page' product.id %}" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    
{% endblock %}