{% extends 'base.html' %}

{% load static %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
              <div class="card">
                <h2>Edit Profile</h2>
    {% csrf_token %}
    <div class="row">
      <label class="pt-sm-2 pb-1 mb-0 text-nowrap" for="profile_picture">Profile Picture:</label>
      <div class="col-12 col-sm-auto mb-3">
        <div class="mx-auto" style="width: 140px;">
          <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
            <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
          </div>
        </div>
      </div>
      <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
        <div class="text-center text-sm-left mb-2 mb-sm-0">
              <input type="file" id="profile_picture" name="profile_picture" accept="image/*">
          <div class="mt-2">
          </div>
        </div>
        <div class="text-center text-sm-right">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="name">Full Name:</label>
          <input class="form-control" id="name" type="text" name="name" placeholder="John Smith" value="" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Username</label>
          <input class="form-control" type="text" name="username" placeholder="johnny.s" value="johnny.s">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="email">Email:</label>
          <input class="form-control" id="email" type="email" name="email" placeholder="user@example.com" value="user@example.com" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="phone">Phone:</label>
          <input class="form-control" type="tel" name="phone" id="phone" value="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="location">Location:</label>
          <input class="form-control" type="text" id="location" name="location" value="">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="website">Website:</label>
          <input class="form-control" type="url" id="website" name="website" value="">
        </div>
      </div>
    </div>
   <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="social_facebook">Facebook:</label>
          <input class="form-control" type="text" id="social_facebook" name="social_facebook" value="">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="social_instagram">Instagram:</label>
          <input class="form-control" type="text" id="social_instagram" name="social_instagram" value="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <div class="form-group">
          <label for="bio">About:</label>
          <textarea  id="bio" name="bio" class="form-control" rows="5" placeholder="My Bio"></textarea>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 mb-3">
      <div class="mb-2"><b>Change Password</b></div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Current Password</label>
            <input class="form-control" type="password" placeholder="••••••">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>New Password</label>
            <input class="form-control" type="password" placeholder="••••••">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
            <input class="form-control" type="password" placeholder="••••••"></div>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-end">
      <button class="btn btn-primary" type="submit">Update Profile</button>
    </div>
   
              </div>
              </div>
              </div>
            </div>
    </section>
</form>
{% endblock %}